@page
@model Fodraszat.Web.Pages.Felhasznalok.IndexModel

@{
    ViewData["Title"] = "Felhasználók";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Új felhasználó létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Felhasznalok[0].Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Felhasznalok[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Felhasznalok[0].SzuletesiIdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Felhasznalok[0].Telefonszam)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Felhasznalok) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SzuletesiIdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefonszam)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Adatok</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
