@page
@model Fodraszat.Web.Pages.Admin.Szolgaltatasok.DetailsModel

@{
    ViewData["Title"] = "Adatok";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Szolgáltatás</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Szolgaltatas.Nev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Szolgaltatas.Nev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Szolgaltatas.Ar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Szolgaltatas.Ar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Szolgaltatas.Idotartam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Szolgaltatas.Idotartam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Szolgaltatas.Megjegyzes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Szolgaltatas.Megjegyzes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Szolgaltatas.Id">Szerkesztés</a> |
    <a asp-page="./Index">Vissza</a>
</div>
