@page
@model Fodraszat.Web.Pages.Admin.Szolgaltatasok.IndexModel

@{
    ViewData["Title"] = "Szolgáltatások";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Új szolgáltatás létrehozása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Szolgaltatasok[0].Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Szolgaltatasok[0].Ar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Szolgaltatasok[0].Idotartam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Szolgaltatasok[0].Megjegyzes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Szolgaltatasok) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idotartam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Megjegyzes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Adatok</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
